<div class="categories-con">
<h1><%= title  %></h1>
<p>Here you can find all the categories available in our inventory</p>
<div class="categories-list">
    <% if( categories.length === 0) {%>
        <p>No categories available.</p>
    <%  }%>
    <% categories.forEach(category => { %>
        <a href="/categories/<%= category.id %>" class="category-card">
            <h3><%= category.title %></h3>
            <% if (category.image) { %>
                <img src="/uploads/<%= category.image %>" alt="<%= category.name %> Image" >
            <% } else { %>
                <p>No image available</p>
            <% } %>
            </a>
    <% }) %>
</div>