<div class="category-details-con">
    <h1><%= title %></h1>

    <div class="category-details">
        <div class="image">
            <% if (category.image) { %>
                <img src="/uploads/<%= category.image %>" alt="<%= category.title %> Image">
            <% } else { %>
                <p>No image available</p>
            <% } %>
        </div>
        <div class="category-data">
        <div class="details">
            <p><strong>Description:</strong> <%= category.description || 'No description available' %></p>
        </div>
        <div class="buttons">
            <a href="/categories/edit/<%= category.id %>"><i class="fa-solid fa-pen-to-square"></i></a>
            <form action="/categories/<%= category.id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this category?');">
                <button class="category-delete" type="submit"><i class="fa-solid fa-trash-can"></i></button>
            </form>
        </div>
    </div>
</div>
     <div class="category-games">
        <h3>Category Games</h3>
    <div class="games-list">
        <% if (games.length === 0) { %>
            <p>No games available in this category.</p>
        <% } else { %>
            <% games.forEach(game => { %>
                <a href="/games/<%= game.id %>" class="game-item">
                    <% if (Number(game.price) === 0.0) { %>
                        <p class="price">Free</p>
                    <% } else { %>
                        <p class="price"><%= game.price %>$</p>
                    <% } %>

                    <% if (game.logo) { %>
                        <img src="/uploads/<%= game.logo %>" alt="<%= game.title %> Logo" width="100" height="100">
                    <% } else { %>
                        <p>No logo available</p>
                    <% } %>
                </a>
            <% }) %>
        <% } %>
    </div>
    </div>
</div>